{% extends "::base.html.twig" %}

{% block titleBase %}Chezmonveto - {% block title %}{% endblock %}{% endblock %}

{% block head %}
{% endblock %}


{% block bodyBase %} 
<div class="container ChezMonVeto">
	<div class="header">
		<div class="headerA">
			<!-- <img class="display bgImg" src="/img/bg-header.jpg"> -->
			<a href="#">
			<img class="vertical display" src="/img/logoCmv.jpg" class="alcLogo">
			<div class="h2 display">
				<h3 class="black">Votre site Internet,</h3>
				<h3 class="turquoise">créé par et pour des vétérinaires praticiens</h3>
			</div>
			</a>
		</div>
		<div class="headerB">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="row">
			    	
			    	<div class="navbar-header">
				
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      
			    </div>


			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<div class="col-md-1"><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a></div>
			    	<div class="col-md-6">
				      <ul class="nav navbar-nav">
				        <li><a href="#">Accueil</a></li>
				        <li><a href="#">services</a></li>
				        <li><a href="#">Nous</a></li>
				        <li><a href="#">Témoignages</a></li>
				        <li><a href="#">Actualités</a></li>
				      </ul>
				    </div>
				    <div class="col-md-5 ">
				        <ul class="nav navbar-nav navbar-right">
				        <form class="navbar-form" role="search">
						<div class="z">
                            <div class="input-group x">
                                <input type="text" placeholder="recherche" class="form-control col-xs-3">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-inverse">Chercher</button>
                                </div>
                            </div>
	                        </div>
							</form>
						</ul>
					</div>

					<!-- <div class="col-md-5 input-group">
				        <form class="form-inline" role="search">
				        	<div class="">
                                <input type="text" placeholder="recherche" class="input-medium">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-inverse">Chercher</button>
                                </span>
				        	</div>
						</form>
					</div> -->
			      
				</div>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>


		</div>
	</div>
<!-- fin header -->
	<br>
	{% block body %}{% endblock %}


{% endblock %}
{% block footerBase %}


	{% block footer %}{% endblock %}
	{% block script %}<script type="text/javascript" src="/scripts/chezmonveto.js"></script>{% endblock %}
</div>
{% endblock %}