{% extends "::base.html.twig" %}

{% block titleBase %}Default - {% block title %}{% endblock %}{% endblock %}

{% block head %}{% endblock %}

{% block bodyBase %} 
    <div class="container">
        <div class="header">
            {% block header %}{% endblock %}
        </div>
        <div class="body">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
    {% block script %}{% endblock %}
{% endblock %}